*{
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    text-align: center;
}
#Board{
    background: url("images/flappybirdbg.png");
    background-size: cover;
}
